<div class="container my-3">
    <div class="jumbotron">
        <h1 class="display-4">About Covid-19 Angular App</h1>
        <!-- <a href="https://madhur717.github.io/">click here...</a>
        <p class="lead">https://madhur717.github.io/</p> -->
        <hr class="my-4">
        <p><b>Technology:</b>  Angular11, TypeScript, HTML, CSS, Bootstrap.</p>
        <p><b>Description:</b> The Covid-19 pandemic is part of worldwide pandemic now. So, we Create covid-19 cases tracker application in
            Angular using API from the GitHub repository to fetch the data of corona cases from all over the world. The
            application showing data is country and date wise. We are using Google charts for showing the data that
            chart will show the date wise increase corona cases. </p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
</div>